html

 #header  {
    display: inline-block;
		margin-right: 3em;
		margin-top: 1em;
		width:350px;
		border-style: solid;
		border-width: thin;
		border-radius: 5px;
		border-color: black;
}
 #sitetitle{
	margin-bottom: 1em;

 }

 #header-text{
	 display: inline-block;
	 vertical-align: top;
	 text-align: center;
	 color:#088A85;

 }
body{
	width: 100%;
	margin:0;
	text-align:justified;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.3em;
  background-color:#0A2A29;
}
header{
  padding:1em;
}

h1{
  font:100% "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:#04B486;
  margin-bottom: 0.5em;
  text-align: center;
  width: 100%;
  margin-right:auto;
  margin-left:auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
}

h2{
    font:80% "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    color:#04B486;
    margin-bottom: 0.5em;
    text-align: center;
		width: 100%;
		margin-right:auto;
		margin-left:auto;
		margin-top: 2em;
		margin-bottom: 2em;
		padding-bottom: 0.5em;
}

h3{
	font:70% "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-style: normal;
	color:#04B486;
	margin-bottom: 0.2em;
	text-align: center;
	width: 60%;
	margin-right:auto;
	margin-left:auto;
	padding-bottom: 0.5em;
}

#menu ul{
  list-style: none;
  text-align: center;
}
#menu li{
  display: inline-block;
  padding:10px;
	margin:o.5em;
  font-size: 1em;
  background-color:#0A2229;
  border-radius: 25px;
}

p{
  color:#088A85;
	width: 70%;
	margin-right:auto;
	margin-left:auto;
}

a:link {
  text-decoration: none;
	color:#04B486;
}

a:hover{
	color:#088A85;
}

a:active{
	color:#819FF7;
}

a:visited{
	color:#088A85;
}

img{
	max-width: 70%;
	margin-right:auto;
	margin-left:auto;
	border-radius: 10px;
	color: #04B486;
}

#contentArea{
	background-color: #0A2229;
	width:70%;
	margin-right:auto;
	margin-left:auto;
	border-style:solid;
	border-width: 1px;
	border-color: #04B486;
	border-radius: 10px;
	padding:1em;
}

#contentArea h1{
  font:90% "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:#04B486;
  margin-bottom: 0.5em;
  text-align:left;
  width: 70%;
  margin-right:auto;
  margin-left:auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
}

#contentArea h2{
    font-size:80% "Lucida Sans Unicode", "Lucida Grande", sans-serif
    font-style: normal;
    color:#04B486;
    margin-bottom: 0.5em;
    text-align: left;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
}
#contentArea h3{
    font-size: 70% "Lucida Sans Unicode", "Lucida Grande", sans-serif
    font-style: normal;
    color:#04B486;
    margin-bottom: 0.5em;
    text-align: left;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
}

 #contentArea ul{
	  display: block;
    list-style-type: disc;
		width: 70%;
		margin-right:auto;
		margin-left:auto;

}
 #contentArea li{
  	font-size: 60%;
	  color:#088A85;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
		padding: 0.5em;
	}
	#contentArea p{
		font-size: 60%;
	  color:#088A85;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
		text-align: left;
	}
	#contentArea a {
	  text-decoration: none;
		-color: #04B486;
		color: #f00;
	}

	#contentArea a:hover{
		color:#819FF7;
	}

	#contentArea a:active{
		color:#819FF7;
	}

	#contentArea a:visited{
		color:#04B486;
	}
#footer-menu li{
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 0.8em;
}
#footer-menu li a:link{
	text-decoration: none;
	font-style: oblique;
	color:#04B486;
}
#footer-menu ul{
  list-style: none;
  text-align: center;
}
