body{
	width: 100%;
	margin:0;
	text-align:justified;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.3em;
  background-color:#1C1C1C;
}
header{
  border-radius: 6px;
}

h1{
    100% "Lucida Sans Unicode", "Lucida Grande", sans-serif
    font-style: normal;
    color:#F7BE81;
    margin-bottom: 0.5em;
    text-align: center;
}

h2{
    80% "Lucida Sans Unicode", "Lucida Grande", sans-serif
    font-style: normal;
    color:#FAAC58;
    margin-bottom: 0.5em;
    text-align: left;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
		padding-bottom: 0.5em;
}

.menu ul{
  list-style: none;
  text-align: center;
	padding-left: 0;
}
.menu li{
  display: inline-block;
  padding:8px;
  font-size: 1em;
  text-transform: uppercase;
  background-color:#2E2E2E;
  border-radius: 5px;
	margin-left: 0.3em;
	margin-right: 0.3em;
}

p{
  color:#58ACFA;
	--width: 70%;
	margin-right:auto;
	margin-left:auto;
}

a:link {
  text-decoration: none;
	color:#FF8000;
}
a:visited{
	color:#FF8800;
}
a:hover{
	color:#819FF7;
}
a:active{
	color:#819FF7;
}


img{
	max-width: 70%;
	margin-right:auto;
	margin-left:auto;
	border-radius: 10px;
	color: #04B486;
}

#contentArea {
	width: 70%;
	margin-right:auto;
	margin-left:auto;
}
#contentArea h1{
    font-size: 1.1em;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    color:#04B486;
    margin-bottom: 0.5em;
    text-align: center;
}

#contentArea h2{
    font-size: 0.9em;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    color:#04B486;
    margin-bottom: 0.5em;
    text-align: left;
		margin-right:auto;
		margin-left:auto;
}
#contentArea h3{
    font-size: 0.8em;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    color:#04B486;
    margin-bottom: 0.5em;
    text-align: left;
		margin-right:auto;
		margin-left:auto;
}

 #contentArea ul{
	  display: block;
    list-style-type: disc;
		margin-right:auto;
		margin-left:auto;

}
 #contentArea li{
  	font-size: 1em;
	  color:#FFFFFF;
		margin-right:auto;
		margin-left:auto;
		padding: 0.5em;
	}
	#contentArea p{
		font-size: 1em;
	  color:#FFFFFF;
		margin-right:auto;
		margin-left:auto;
		text-align: left;
	}
	#contentArea a {
		text-decoration: none;
	-color: #04B486;
		color: #f00;
	}

	#contentArea a:visited{
		color:#04B486;
	}
	#contentArea a:hover{
		color:#819FF7;
	}

	#contentArea a:active{
		color:#819FF7;
	}

#footer-menu li{
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 0.8em;
}
#footer-menu li a:link{
	text-decoration: none;
	font-style: oblique;
	color:#FF8000;
}
#footer-menu ul{
  list-style: none;
  text-align: center;
}
/* Steem Content Module Themes */
/* Steem Profile */
#profile-banner {
	width: 1000px;
	height: 180px;
	margin-right:auto;
	margin-left:auto;
	color: #ccb;
}
#profile-banner h1 {
	color: #eee;
	margin-top: 25px;
}
#profile-image {
	display: inline-block;
	height: 48px;
	width: 48px;
	vertical-align: middle;
	margin-top: 15px;
}
#profile-image img {
	display: inline-block;
	height: 100%;
	width: 100%;
	max-width: 100%;
	border-radius: 50%;
}
#profile-about {
	font-size: 0.7em;
	text-align: center;
	max-width: 50%;
	margin-right:auto;
	margin-left:auto;
}
