
/*grey/brown pallete:
#0f0d0c
#211e1a
#332e29
#474139
#5b5349
#6f6559

orange pallete:
#c87c1a
#ec9c36
#eeae5c
#f0be7e

offwhite pallete:
#eee1cf
#fcf4e9
*/
body{
	width: 100%;
	margin:0;
	text-align:justified;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.3em;
  background-color: #0f0d0c;
	padding: 0;
}
header{
	background-color: #211e1a;
	background: linear-gradient(#0f0d0c,#211e1a);
	padding: 0,3em;
	border: 1px solid #474139;
	border-right: 0;
	border-left: 0;
	margin-bottom: 1em;
	box-shadow: 1px 1px 6px #474139;
}

h1{
    font: 200% "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    color:#f0be7e;
    margin-bottom: 0.5em;
    text-align: center;
		text-shadow: 1px 1px 5px #0f0d0c,2px 2px 10px #eee1cf;
}

h2{
    font: 150% "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    color:#ec9c36;
    margin-bottom: 0.5em;
    text-align: center;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
		padding-bottom: 0.5em;
		text-shadow: 1px 1px  #eee1cf;
}

.menu div{
	text-align: center;
  padding-left: 0;
	margin-bottom: 0.2em;
	flex-wrap: wrap;
}
.menu span{
  display: inline-block;
  font-size: 1em;
  text-transform: uppercase;
	margin-left: 0.3em;
	margin-right: 0.3em;
	height: 2.5em;

}
.menu span a {
padding:8px;
background-color:#332e29;
border-radius: 5px;
box-shadow: 1px 1px 5px #0f0d0c;
}

.menu span a:hover {
	background-color:#5b5349;
	box-shadow: 1px 1px 5px #eee1cf;
}

.menu span a:active {
	background-color:#6f6559;
	box-shadow: 1px 1px 5px  #fcf4e9;
	color:#eee1cf;
}

p{
  color: #eee1cf;
	--width: 70%;
	margin-right:auto;
	margin-left:auto;
}

a:link {
  text-decoration: none;
	color:#ec9c36;
	outline:0;
}
a:visited{
	color:#ec9c36;
}
a:hover{
	color:#f0be7e;
}
a:active, a:focus{
	color:#f0be7e;
}
img{
	max-width: 70%;
	margin-right:auto;
	margin-left:auto;
	border-radius: 10px;
	color: #0f0d0c;
	border: 1px solid #5b5349;
	box-shadow: 3px 3px 27px #0f0d0c;
}

#contentArea {
	width: 70%;
	color: #eee1cf;
	margin-right:auto;
	margin-left:auto;
	margin-bottom: 1em;
	border: solid 1px #474139;
	background-color: #332e29;
	border-radius: 6px;
	padding: 1em;
	box-shadow: 1px 1px 15px #474139;
}

#contentArea h1{
    font-size: 1.1em;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    color: #eeae5c;
    margin-bottom: 0.5em;
    text-align: center;
		text-shadow: none;
}

#contentArea h2{
    font-size: 0.9em;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    color:#ec9c36;
    margin-bottom: 0.5em;
    text-align: left;
		margin-right:auto;
		margin-left:auto;
		text-shadow: none;
}
#contentArea h3{
    font-size: 0.8em;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    color: #c87c1a;
    margin-bottom: 0.5em;
    text-align: left;
		margin-right:auto;
		margin-left:auto;
		text-shadow: none;
}

 #contentArea ul{
	  display: block;
    list-style-type: disc;
		margin-right:auto;
		margin-left:auto;
}

	/* Change bullet color of list item by replacing it with CSS*/

	#contentArea ul li {
	  color: #eee1cf; 	/* set color of list item text */
		list-style: none;
		font-size: 1em;
		margin-right:auto;
		margin-left: 2em;
		padding: 0.5em;
	}

	#contentArea ul li::before {
	  color: #ec9c36;   /* color of bullet or square */
 		content: "\25CF"; /* Unicode of character to precede the list item */
	  font-size: 1em;
		padding-right: 1em;
}

	#contentArea p{
		font-size: 1em;
	  color: #eee1cf;
		margin-right:auto;
		margin-left: 1em;
		text-align: left;
	}

	#contentArea img{
		display: block;
    margin: auto;
    width: 70%;
	}

	/*Footer styles*/

footer{
	text-align: center;
	font-style: italic;
	font-size: 0.7em;
	margin-bottom: 3em;
}

#footer-menu li{
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 0.8em;
}
#footer-menu li a:link{
	text-decoration: none;
	font-style: oblique;
	color:#ec9c36;

}
#footer-menu ul{
  list-style: none;
  text-align: center;
}


/* Steem Content Module Themes */

/* Steem Profile */

#profile-banner {
	width: 100%;
	max-width: 1000px;
	height: 180px;
	margin-right:auto;
	margin-left:auto;
	color: #211e1a;
	box-shadow: 3px 3px 27px #0f0d0c;
}
#profile-banner h1 {
	color: #eee1cf;
	margin-top: 25px;
}
#profile-image {
	display: inline-block;
	height: 48px;
	width: 48px;
	vertical-align: middle;
	margin-top: 15px;
}
#profile-image img {
	display: inline-block;
	height: 100%;
	width: 100%;
	max-width: 100%;
	border-radius: 50%;
}
#profile-about {
	font-size: 0.7em;
	color: #eee1cf;
	text-align: center;
	max-width: 50%;
	margin-right:auto;
	margin-left:auto;
}
#profile-info {
	font-size: 0.7em;
	color: #eee1cf;
	text-align: center;
	max-width: 70%;
	margin-right:auto;
	margin-left:auto;
	margin-top: 1em;
	margin-bottom: 1em;
}
#profile-info a {
	text-decoration: none;
	color: #eee1cf;
}
#profile-info a:visited{
	color:#eee1cf;
}
#profile-info a:hover{
	color:#f0be7e;
}

#profile-info a:active{
	color:#f0be7e;
}
#profile-info span{
	margin-left: 1em;
	margin-right: 1em;
}


/* Steem Posts */

.steem_posts{
	border-bottom: 1px solid #424242;
	padding: 0.7em;
}

.steem_posts_preview {
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
}

#contentArea img.steemposts_thumbnail{
	max-width: 20%;
	max-height: 15%;
	display: inline-block;
	margin-right: 1em;
}

@media only screen and (max-width: 800px) {

	h1{
		font-size: 150%;
	}
	h2{
		font-size: 120%;
	}

	#contentArea {
		width: 100%;
		margin-right:0;
		margin-left:0;
		padding:1em;
		padding-left: 0;
		border-radius: 0;
	}

	#contentArea p {
		margin-left:0;
		padding-right: 1em;
		padding-left: 1em;
	}

	#contentArea img.steemposts_thumbnail{
		max-width: 100%;
	}

	.menu li{
		display: flex;
	  flex-wrap: wrap;
	}

	/* Steem Profile*/

#profile-banner{
	margin: 0;
	margin-top: 140px;
}
#profile-about {
	max-width: 90%;
	position: relative;
	top:-130px;
}
#profile-info {
	max-width: 99%;
	position: relative;
	top:-120px;
}

#profile-image{
	display: block;
	height:96px;
	width:96px;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: auto;
	margin-left: auto;
}
#profile-banner h1{
	position: relative;
	top:-150px;
}

/* Steem Posts*/

#contentArea img.steemposts_thumbnail{
	width: 100%;
	display:block;
	border-radius: 0;
	max-height: none;
	margin-bottom: 0.5em;
}
.steem_posts{
	padding: 0em;
}
.steem_posts_preview {
	margin-left: 1em;
	font-size: 1em;
}
#contentArea .steem_posts h2{
	font-size: 1.25em;
	width: 85%;
}
/* Steem Post*/
#contentArea .steem_post h1{
	font-size: 1.5em;
	width: 85%;
}
#contentArea .steem_post h2{
	font-size: 1.25em;
	width: 85%;
}

#contentArea #steem-post img{
width: 100%;
max-width: 100%;
border-radius: 0;
padding: 0;
margin: 0;
border: none;
}
#contentArea #steem-post h1{
	width:85%;
	margin-right: auto;
	margin-left: auto;
}

#contentArea #steem-post h2{
	width:85%;
	margin-right: auto;
	margin-left: auto;
}

#contentArea ul li{
	font-size: 0.8em;
	max-width: 90%;
	margin-left: 1em;
	margin-right: 0.5em;
}

}
