/* Palette:
plum:  #5d2534
red: #bd0e3b
purple: #a06775
pink: #d21f65;
brown:  #9d8c8e
cream: #d7c7c3
white: #eadfdc
*/


body {
  background-color: #d7c7c3;
	color: #5d2534;
}

h1 {
  color:#d7c7c3;
  text-shadow: 1px 1px #5d2534, 1px 1px 5px #d7c7c3;
  }

h2 {
  color:#d7c7c3;
  text-shadow: 1px 1px #5d2534, 1px 1px 5px #d7c7c3;
}

h3 {
  color:#d7c7c3;
  text-shadow: 1px 1px #5d2534, 1px 1px 5px #d7c7c3;
}

p { color:#eadfdc;}


a { color: #a06775;}

a:hover { color: #bd0e3b;}

a:focus { color: #bd0e3b;}

a:active { color: #a06775;}

img { color: #d7c7c3;}


/*Header styles*/

header {
	background-color:#5d2534;
	border-color:#eadfdc;
	box-shadow: 1px 1px 6px #5d2534;
}

header.no_bg_img {
  background: linear-gradient(#a06775,#5d2534);
}

div#banner-gradient {
	background: linear-gradient(to right, rgba(234,223,220,0), rgba( 138,12,52,1));
}

/* Button styles */

button#openNav {
  background: #5d2534;
  color: #d7c7c3;
}

button#openNav:hover { background: #bd0e3b;}

button#closeNav {
  background:  #a06775;
	color: #9d8c8e;
  box-shadow: 2px 2px 5px #413;
}

button#closeNav:hover {
	box-shadow:  #967;
	background: #d7c7c3;
	color: #d21f65;
}

/* Menu Styles*/

.menu span a {
  background: #9d8c8e;
  color: #5d2534;
}

.menu span a:hover {
  color:#bd0e3b;
  box-shadow: 1px 1px 5px #eadfdc;
}

.menu span a:focus {
  color:#bd0e3b;
  box-shadow: 1px 1px 5px #eadfdc;
}

.menu span a:active {
  color:#bd0e3b;
  box-shadow: 1px 1px 5px #eadfdc;
}

/* Sidebar styles*/

.sidebar { background-color: #5d2534;}

.sidebar a { color: #d7c7c3;}

.sidebar a:hover { color: #f1f1f1;}

.sidebar a:focus { color: #f1f1f1;}

.sidebar a:active { color: #f1f1f1;}

.sidebar .menu span a {
  background: #9d8c8e;
  color: #5d2534;
  box-shadow: none;
}

.sidebar .menu span a:hover {
  background: #9d8c8e;
  color:#bd0e3b;
  box-shadow: none;
}

.sidebar .menu span a:focus {
  background: #9d8c8e;
   color:#bd0e3b;
   box-shadow: none;
 }

.sidebar .menu span a:active {
  background: #9d8c8e;
  color:#bd0e3b;
  box-shadow: none;
}

.sidebar .menu div {
  background-color: #d7c7c3;
  box-shadow: 1px 1px 6px #5d2534;
}

.sidebar .menu span {
  background: #9d8c8e;
  color: #5d2534;
}

/* content area styles*/

#contentArea {
  background-color:  #9d8c8e;
  border-color: #5d2534;
  box-shadow: 1px 1px 6px #5d2534;
}

#contentArea h1 {
  color:#a06775;
  text-shadow: 1px 1px #5d2534,1px 1px 5px #d7c7c3;
}

#contentArea h2 {
  color:#a06775;
  text-shadow: 1px 1px #5d2534,1px 1px 5px #d7c7c3;
}

#contentArea h3 {
  color:#a06775;
  text-shadow: 1px 1px #5d2534,1px 1px 5px #d7c7c3;
}

#contentArea p { color:#5d2534;}

#contentArea ul li {
  color: #5d2534; 	/* set color of list item text */
 }

 #contentArea ul li::before {
   color: #a06775;   /* color of unicode character */
 }

/* Footer styles*/

/* Steem Content Modules */

/* Steem Profile */

#profile-image img { box-shadow:1px 1px 10px #5d2534;}


#profile-banner {
	background-color:#5d2534;
	color: #eadfdc;
	box-shadow: 3px 3px 27px #5d2534;
}

#profile-banner h1 {color: #eadfdc;}

#profile-banner #profile-about {color: #eadfdc;}

#profile-banner #profile-info {color: #eadfdc;}

#profile-banner #profile-info a {color: #d7c7c3;}

#profile-banner #profile-info a:visited {color:#d7c7c3;}

#profile-banner #profile-info a:hover {
	color:  #5d2534;
  text-shadow: 1px 1px 10px #d7c7c3;
}

#profile-banner #profile-info a:active {
	color:  #5d2534;
  text-shadow: 1px 1px 10px #d7c7c3;
}

/*Steem Post*/

#contentArea #steem-post img { box-shadow:1px 1px 10px# 5d2534;}

/* Steem Posts */

/*Social Menu*/

div.icon span a:link { color:#d7c7c3;}

div.icon span a:visited { color:#d7c7c3;}

div.icon span a:hover {
 color:#a06775;
 box-shadow: 1px 1px 10px #d7c7c3;
}

div.icon span a:focus { color:#a06775;}

div.icon span a:active { color:#d7c7c3;}


/* Responsive Design */

@media only screen and (max-width: 800px) {

.sidebar { background-color: #5d2534;}

.steem_posts_date { color:#d7c7c3;}
}
