
/* brown palette:
dark chocolate:     #160a09; RGB  22, 10, 9,
chocolate sauce:    #2a1914 RGB  42, 25, 20
hot cocoa:          #392b23 RGB 57, 43, 35,
milk chocolate:     #653f26 RGB 101, 53, 38
orange:             #ec9c36
cream orange:       #f0be7e
light cream orange: #ecd1aa
*/

/* Generic Classes */

.enclosure1{
  color:#f0be7e;
  background-color: #2a1914;
  border-color:#653f26;
}

.enclosure2{
  color: #ecd1aa;
  border-color: #653f26;
  background-color: #392b23;
}

.enclosure3{
  color:#ecd1aa;
  border-color: #ec9c36;
  background-color: #2a1914;
}


.gradient1 { background: linear-gradient(#2a1914,#392b23);}

.gradient2 { background: linear-gradient(to right, rgba(42, 25, 20,0.5), rgba(57, 43, 35, 1));}

.gradient3 { background: linear-gradient(to left, rgba(42, 25, 20,0.5), rgba(57, 43, 35, 1));}

.button1{
  background: #653f26;
  color: #f0be7e;
}

.button1:hover{background: #ec9c36;}

.button2{
  background: #653f26;
	color: #160a09;
}

.button2:hover{
  background: #f0be7e;
	color: #160a09;
}


.boxshadowL{ box-shadow:3px 3px 25px #ec9c36;}

.boxshadowM{ box-shadow:2px 2px 5px #ec9c36;}

.boxshadowM img{ box-shadow:2px 2px 5px #ec9c36;}

.boxshadowM #profile-banner{ box-shadow:2px 2px 5px #ec9c36;}

.boxshadowM .menu span a{ box-shadow:2px 2px 5px #ec9c36;}

.boxshadowM .menu span a:hover{ box-shadow:2px 2px 5px #f0be7e;}

.boxshadowM .menu span a:focus{ box-shadow:2px 2px 5px #f0be7e;}

.boxshadowMlight{ box-shadow:2px 2px 5px #ecd1aa;}

.boxshadowMlight:hover{ box-shadow:2px 2px 5px #ec9c36;}

.boxshadowMlight img:hover{ box-shadow:2px 2px 5px #ecd1aa;}

.boxShadowS{ box-shadow: 1px 1px 10px #ec9c36;}

.boxShadowXS { box-shadow:1px 1px 5px #ec9c36;}


body{
  background-color: #160a09;
}

h1{
    color:#f0be7e;
		text-shadow: 1px 1px 5px #160a09;
}

h2{
    color:#ec9c36;
		text-shadow: 1px 1px  #ecd1aa;
}

h3{
    color:#ec9c36;
		text-shadow: 1px 1px  #ecd1aa;
}

p{
  color: #ecd1aa;
}

a:link {
	color:#ec9c36;
}
a:visited{
	color:#ec9c36;
}
a:hover{
	color:#f0be7e;
}
a:active, a:focus{
	color:#f0be7e;
}
img{
	color: #160a09;
	border-color: #160a09;
}

hr {
    color: rgba(33, 30, 26, 0.2);
}

/*Header styles*/

/* Button styles */

/* Menu Styles*/

.menu span a {
  background-color:#392b23;
}
.menu span a:hover {
  color: #f0be7e;
  background-color:#653f26;
}

.menu span a:focus {
  color: #f0be7e;
  background-color:#653f26;
}

.menu span a:active {
  color:#f0be7e;
  background-color:#653f26;
}

.menu div{background: #392b23;}

/* Sidebar styles*/


#sidebar .menu span a {
  background: #653f26 ;
  color: #f0be7e;
  box-shadow: none;
}

#sidebar .menu span a:hover {
  color:#ecd1aa;
  box-shadow: none;
}

#sidebar .menu span a:focus {
   color:#ecd1aa;
   box-shadow: none;
 }

#sidebar .menu span a:active {
  color:#ecd1aa;
  box-shadow: none;
}

#sidebar .menu div {
  background-color: #f0be7e;
}

#sidebar .menu span {
  background: #653f26;
  color: #5d2534;
}

/* content area styles*/


#contentArea h1{
    color: #f0be7e;
}

#contentArea h2{
    color:#ec9c36;
}
#contentArea h3{
    color: #ec9c36;
}

#contentArea p {color: #ecd1aa;}

#contentArea ul li {
	  color: #ecd1aa; 	/* set color of list item text */
	}

#contentArea ul li::before {
	  color: #ec9c36;    /* color of unicode character */
}
	/*Footer styles*/
#footer-menu li a:link{
	color:#ec9c36;
}

/* Steem Content Modules */

/* Steem Profile */

#profile-banner {
  background-color:#160a09;
	color: #2a1914;
}
#profile-banner h1 {color: #ecd1aa;}

#profile-banner #profile-about {color: #ecd1aa;}

#profile-banner #profile-info {color: #ecd1aa;}

#profile-banner #profile-info a {color: #ecd1aa;}

#profile-banner #profile-info a:visited { color:#ecd1aa;}

#profile-banner #profile-info a:active { color:#f0be7e;}

#profile-banner #profile-info a:hover { color:#f0be7e;}

/*Steem Post*/

/* Steem Posts */

.steem_posts { border-bottom-color: #424242;}

.steem_posts_meta { color: #f3f1ee;}

div.steem_posts_meta { color: #ecd1aa;}

.steem_posts_preview {
  background-color:#2a1914;
}

/*Social Menu*/

div.icon a:link { color:#f0be7e;}

div.icon a:visited { color:#f0be7e;}

div.icon a:active { color:#f0be7e;}

div.icon img{
   filter:hue-rotate(185deg) saturate(0.75);
}


/* Responsive Design */

@media only screen and (max-width: 800px) {

#sidebar { background-color: #160a09;}

.steem_posts_date { color:#f0be7e;}
}
