/*
latte:          #beb19f   RGB 190, 177, 159
grey vanilla:   #ded1bf   RGB 222, 209, 191
pink vanilla:   #eee1cf   RGB 238, 225, 207
vanilla:        #fcf4e9   RGB 252, 244, 233

black:          #1e251d   RGB 30, 37, 29
dark grey:      #28281e   RGB 40, 40, 30
grey:           #3c3c32   RGB 60, 60, 50
dark gold:      #504628   RGB 80, 70, 40
light gold:     #96834c   RGB 150, 131, 76
*/

/* HTML Classes */

body { background-color: #eee1cf;}

h1 {
  color:#1e251d ;
  text-shadow: 1px 1px 5px #28281e ,2px 2px 10px  #96834c ;
}

h2 {
  color:#1e251d ;
	text-shadow: 1px 1px  #28281e ;
}

h3 {
  color:#1e251d ;
	text-shadow: 1px 1px  #28281e ;
}

p { color: #3c3c32 ;}

a:link { color:#96834c;}

a:visited { color:#96834c;}

a:hover { color:#504628;}

a:active, a:focus { color:#504628;}

img {
	color: #0f0d0c;
	border-color: #5b5349;
}

hr { color: rgba(222,209,191, 0.2)}


/* Generic Classes */

/* Enclosure Classes
(can be applied to elemens such as headers, footers or document body)*/

.enclosure1{
  background-color: #ded1bf;
	border-color: #beb19f;
  color: #1e251d;
}

.enclosure2{
  color: #3c3c32 ;
	border-color: #1e251d;
	background-color: #fcf4e9;
}
.enclosure3{
  color:#96834c;
  border-color: #96834c;
  background-color: #beb19f;
}

/* Gradient Classes
(can be applied to add gradient to any element with a background) */

.gradient1 { background: linear-gradient(#ded1bf,#beb19f);}

.gradient2 { background: linear-gradient(to right, rgba(222,209,191,0.5), rgba( 190,177,159,1));}

.gradient3 { background: linear-gradient(to left, rgba(222,209,191,0.5), rgba( 190,177,159,1));}

/* Button Classes
(to be used with any elements that act like a button)*/

.button1{
  background: #fcf4e9;
  color: #1e251d ;
}

.button1:hover{ background: #96834c;}

.button2{
  background: #ded1bf;
  color: #96834c;
}

.button2:hover{
  background: #beb19f;
  color: #28281e;
}

/*Box Shadow Classes
(can be added to any element */

.boxshadowL{ box-shadow:3px 3px 25px #28281e;}

.boxshadowM{ box-shadow:2px 2px 5px #28281e;}

.boxshadowM img{ box-shadow:2px 2px 5px #28281e;}

.boxshadowM #profile-banner{box-shadow:2px 2px 5px #28281e;}

.boxshadowM .menu span a{box-shadow:2px 2px 5px #28281e;}

.boxshadowM .menu span a:hover{ box-shadow:2px 2px 5px #504628;}

.boxshadowM .menu span a:focus{ box-shadow:2px 2px 5px #504628;}

.boxshadowMlight{ box-shadow:2px 2px 5px #fcf4e9;}

.boxshadowMlight:hover{ box-shadow:2px 2px 5px #504628;}

.boxshadowMlight img:hover{ box-shadow:2px 2px 5px #fcf4e9;}

.boxShadowS{ box-shadow: 1px 1px 10px #28281e;}

.boxShadowXS { box-shadow:1px 1px 5px #28281e;}



/* Menu Styles*/

.menu span a {
  background-color:#fcf4e9;
}

.menu span a:hover {
	background-color:#beb19f;
}

.menu span a:focus {
	background-color:#beb19f;
}

.menu span a:active {
	*background-color:#ded1bf;
	color:#eee1cf;
}

.menu div {background: #fcf4e9;}

/*Sidebar styles*/

#sidebar .menu span a {
  background: none;
  box-shadow: none;
}

#sidebar .menu span a:hover { box-shadow: none;}

#sidebar .menu span a:focus { box-shadow: none;}

#sidebar .menu span a:active { box-shadow: none;}

#sidebar .menu span {
  background: #ded1bf;
  color: #5d2534;
}

#sidebar .menu div { background-color: #fcf4e9;}

  /* content area styles*/

#contentArea h1 {
color: #96834c;
text-shadow: 1px 1px 5px #beb19f;
}

#contentArea h2 { color:#504628 ;}

#contentArea h3 { color: #504628 ;}

#contentArea p {color: #3c3c32 ;}

#contentArea ul li {
  color: #1e251d ; 	/* set color of list item text */
}

#contentArea ul li::before {
  color: #28281e ;   /* color of unicode character */
}

/* Footer Styles*/

#footer-menu li a:link { color:#504628;}

/* Steem Content Modules*/

/* Steem Profile */

#profile-banner {
	background-color: #3c3c32 ;
	color: #beb19f;
}

#profile-banner h1 { color: #eee1cf;}

#profile-about { color: #1e251d ;}

#profile-info { color: #1e251d ;}

#profile-info a { color: #504628;}

#profile-info a:visited { color:#504628;}

#profile-info a:hover {
 color: #1e251d ;
 text-shadow: 1px 1px 10px #28281e ;
}

#profile-info a:active {
 color:  #1e251d ;
 text-shadow: 1px 1px 10px #28281e ;
}

#profile-banner #profile-about {color: #eee1cf;}

#profile-banner #profile-info {color: #eee1cf;}

#profile-banner #profile-info a {color: #eee1cf;}

#profile-banner #profile-info a:visited {color:#eee1cf;}

#profile-banner #profile-info a:hover {
	color:#96834c;
  text-shadow: none;
}

#profile-banner #profile-info a:active {
	color:#96834c;
  text-shadow: none;
}

/*Steem Post*/

/* Steem Posts */

.steem_posts {border-bottom-color: #1e251d ;}

.steem_posts_meta {color: #28281e ;}

div.steem_posts_meta {color: #28281e ;}

.steem_posts_preview {
  background-color: #ded1bf;
}


/*Social Menu*/

div.icon a:link { color:#1e251d ;}

div.icon a:visited { color:#1e251d ;}

div.icon a:hover {
 color:#beb19f;
}

div.icon a:focus { color:#beb19f;}

div.icon a:active { color:#1e251d ;}

div.icon a img{
  box-shadow: none;
}

div.icon img{
   filter:sepia(100%) brightness(80%);
}

div.icon img:hover{
   filter:sepia(50%) brightness(90%);
}


/* Responsive Design */
