body{
	width: 100%;
	margin:0;
	text-align:justified;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.3em;
  background-color: #FFFFFF;
}
header{
  padding:1em;
  border-radius: 6px;
}

a:link {
  text-decoration: none;
	color:#585858;
}

a:hover{
	color:#A9BCF5;
}

h1{
    font-style: 100% "Lucida Sans Unicode", "Lucida Grande", sans-serif
    font-style: normal;
    color:#6E6E6E;
    margin-bottom: 0.5em;
    text-align: center;
		padding-top:0.5em;
}

h2{
    font-style: 80% "Lucida Sans Unicode", "Lucida Grande", sans-serif
    font-style: normal;
    color:#585858;
    margin-bottom: 0.5em;
    text-align: left;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
		padding-bottom: 0.5em;
}
h3{
    font-style: 70% "Lucida Sans Unicode", "Lucida Grande", sans-serif
    font-style: normal;
    color:#585858;
    margin-bottom: 0.5em;
    text-align: left;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
		padding-bottom: 0.5em;
}
p{
  color:black;
	width: 70%;
	margin-right:auto;
	margin-left:auto;
}

img{
	max-width: 70%;
	margin-right:auto;
	margin-left:auto;
	border-radius: 10px;
	color: #04B486;
}

.menu div{
  list-style: none;
  text-align: center;
}
.menu div span a{
  text-decoration: none;
	color:#585858;
}
.menu div span a:hover{
	color:#A9BCF5;
}
.menu div span {
  display: inline-block;
  padding:8px;
  font-size: 1em;
}

#contentArea{
	width:70%;
	margin-right:auto;
	margin-left:auto;
	border-style:none;
	border-radius: 10px;
	padding:1em;
}
#contentArea h1{
    font-style: 100% "Lucida Sans Unicode", "Lucida Grande", sans-serif
    color:#585858;
    margin-bottom: 0.5em;
    text-align: left;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
}

#contentArea h2{
    font-style: 80% "Lucida Sans Unicode", "Lucida Grande", sans-serif
    color:#585858;
    margin-bottom: 0.5em;
    text-align: left;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
}
#contentArea h3{
    font-style: 80% "Lucida Sans Unicode", "Lucida Grande", sans-serif
    color:#585858;
    margin-bottom: 0.5em;
    text-align: left;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
}
 #contentArea ul{
	  display: block;
    list-style-type:disc;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
}
 #contentArea li{
  	font-size: 1em;
	  color:black;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
		padding: 0.5em;
	}
	#contentArea p{
		font-size: 1em;
	  color:black;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
		text-align: left;
	}
	#contentArea a {
	  text-decoration: none;
		color:#A9BCF5;
	}

	#contentArea a:hover{
		color: #585858;
	}

#footer-menu li{
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 0.8em;
}
#footer-menu li a:link{
	text-decoration: none;
	font-style: oblique;
	color:#585858;
}
#footer-menu li a:visited{
color:#585858;
}
#footer-menu li a:hover{
color:#A9BCF5;
}
#footer-menu ul{
  list-style: none;
  text-align: center;
}
