#title-img  {
    width: 300px;
		margin-right: auto;
    margin-left: auto;
		margin-top: 1em;
      border-style: solid;
      border-width: thin;
      border-radius: 5px;
      border-color: black;
      padding: 0;
}
 #sitetitle{
	margin: 0.2em;
  text-align: center;
 }

 #header-text{
	 vertical-align: top;
	 text-align: center;
	 color:#088A85;
 }
  #header-text h2{
 	 margin: 0.2em;
   text-align: center;
  }
body{
	width: 100%;
	margin:0;
	text-align: justify;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.3em;
	background-color: #1c0f0f;
}
header{
  padding:1em;
}

h1{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:#04B486;
  margin-bottom: 0.5em;
  text-align: center;
  width: 100%;
  margin-right:auto;
  margin-left:auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

h2{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: oblique;
    font-weight: lighter;
    color:#04B486;
    text-align: center;
		width: 100%;
		margin-right:auto;
		margin-left:auto;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
}

h3{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#04B486;
	margin-bottom: 0.2em;
	text-align: center;
	width: 60%;
	margin-right:auto;
	margin-left:auto;
	padding-bottom: 0.5em;
}

p{
  color:#088A85;
	width: 70%;
	margin-right:auto;
	margin-left:auto;
}

a:link {
  text-decoration: none;
	color:#04B486;
}

a:visited{
	color:#04B486;
}
a:hover{
	color:#088A85;
}

a:active{
	color:#088A85;
}


#contentArea img{
	max-width: 70%;
	margin-right:auto;
	margin-left:auto;
	border-radius: 10px;
	color: #04B486;
}
#contentArea img.flowleft{
	float:left;
	vertical-align: top;
	margin-right: 1em;
}

#contentArea{
	background-color: #160909;
	font-family: "Courier New", courier, fixed-width;
	font-size: 1.2em;
	color:#088A85;
	width:70%;
	margin-right:auto;
	margin-left:auto;
	margin-top: 1em;
	border-style:solid;
	border-width: 1px;
	border-color: #04B486;
	border-radius: 23px;
	padding:1em;
}

#contentArea h1{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.5em;
  color:#04B486;
  margin-bottom: 0.5em;
  text-align:left;
  width: 70%;
  margin-right:auto;
  margin-left:auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#contentArea h2{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.4em;
    margin-bottom: 0.5em;
    text-align: left;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
}
#contentArea h3{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.3em;
    margin-bottom: 0.5em;
    text-align: left;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
}

 #contentArea ul{
	  display: block;
    list-style-type: disc;
		width: 70%;
		margin-right:auto;
		margin-left:auto;

}
 #contentArea li{
  	font-size: 90%;
	  color:#088A85;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
		padding: 0.5em;
	}
	#contentArea p{
		font-size: 80%;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
		text-align: left;
	}
	#contentArea a {
	  text-decoration: none;
		color: #04B486;
	}

  	#contentArea a:visited{
  		color:#04B486;
  	}
	#contentArea a:hover{
		color:#088A85;
	}

	#contentArea a:active{
		color:#088A85;
	}

  .menu div, .menu ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 1em;
  }
  .menu span, .menu li{
    display: inline-block;
    padding:10px;
  	margin:0.2em;
    font-size: 1em;
    background-color:#0A2229;
    border-radius: 25px;
  }
.social li:hover{
    background-color: #088A85;
}
  .menu span a:hover, .menu li a:hover {
    color: #088A85;
  }

  footer {
    width: 70%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  footer #footer-img{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }
#footer-menu li{
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 0.8em;
}
#footer-menu li a:link{
	text-decoration: none;
	font-style: oblique;
	color:#04B486;
}
#footer-menu li a:visited{
		color:#04B486;
}
#footer-menu li a:hover{
  color:#088A85;
}
#footer-menu ul{
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0.5em;
}
/* Steem Content Module Themes */
/* Steem Profile */
#profile-banner {
	width: 70%;
	width: 1000px;
	height: 180px;
	margin-right:auto;
	margin-left:auto;
	color: #ccb;
}
#profile-banner h1 {
	color: #eee;
	margin-top: 25px;
	text-align: center;
	width:100%;
}
#profile-image {
	display: inline-block;
	height: 48px;
	width: 48px;
	vertical-align: middle;
	margin-top: 15px;
}
#profile-image img {
	display: inline-block;
	height: 100%;
	width: 100%;
	max-width: 100%;
	border-radius: 50%;
}
#profile-about {
	font-size: 0.7em;
	text-align: center;
	max-width: 50%;
	margin-right:auto;
	margin-left:auto;
}
/* Steem Posts */
#contentArea img.steemposts_thumbnail {
    max-width: 20%;
    display: inline-block;
    vertical-align: top;
}
.steem_posts_preview {
    max-width: 70%;
		padding-left: 10px;
	display: inline-block;
	vertical-align: top;
}
