
/*grey/brown pallete:
#0f0d0c
#211e1a
#332e29
#474139
#5b5349
#6f6559

orange pallete:
#c87c1a
#ec9c36
#eeae5c
#f0be7e

offwhite pallete:
#eee1cf
#fcf4e9
*/
body{
  background-color: #0f0d0c;
}

header{
	background-color: #211e1a;
	background: linear-gradient(#0f0d0c,#211e1a);
	border-color: : #474139;
	box-shadow: 1px 1px 6px #474139;
}

h1{
    color:#f0be7e;
		text-shadow: 1px 1px 5px #0f0d0c,2px 2px 10px #eee1cf;
}

h2{
    color:#ec9c36;
		text-shadow: 1px 1px  #eee1cf;
}

.menu span a {
background-color:#332e29;
box-shadow: 1px 1px 5px #0f0d0c;
}

.menu span a:hover {
	background-color:#5b5349;
	box-shadow: 1px 1px 5px #eee1cf;
}

.menu span a:active {
	background-color:#6f6559;
	box-shadow: 1px 1px 5px  #fcf4e9;
	color:#eee1cf;
}

p{
  color: #eee1cf;
}

a:link {
	color:#ec9c36;
}
a:visited{
	color:#ec9c36;
}
a:hover{
	color:#f0be7e;
}
a:active, a:focus{
	color:#f0be7e;
}
img{
	color: #0f0d0c;
	border-color: #5b5349;
	box-shadow: 3px 3px 27px #0f0d0c;
}

#contentArea {
	color: #eee1cf;
	border-color: #474139;
	background-color: #332e29;
	box-shadow: 1px 1px 15px #474139;
}

#contentArea h1{
    color: #eeae5c;
}

#contentArea h2{
    color:#ec9c36;
}
#contentArea h3{
    color: #c87c1a;
}


	/* Change bullet color of list item by replacing it with CSS*/

	#contentArea ul li {
	  color: #eee1cf; 	/* set color of list item text */
	}

	#contentArea ul li::before {
	  color: #ec9c36;   /* color of bullet or square */
}

	#contentArea p{
	  color: #eee1cf;
	}


	/*Footer styles*/
#footer-menu li a:link{
	color:#ec9c36;

}


/* Steem Content Module Themes */

/* Steem Profile */
#profile-banner {
	color: #211e1a;
	box-shadow: 3px 3px 27px #0f0d0c;
}
#profile-banner h1 {
	color: #eee1cf;
}
#profile-about {
	color: #eee1cf;
}
#profile-info {
	color: #eee1cf;
}
#profile-info a {
	color: #eee1cf;
}
#profile-info a:visited{
	color:#eee1cf;
}
#profile-info a:hover{
	color:#f0be7e;
}

#profile-info a:active{
	color:#f0be7e;
}


/* Steem Posts */
.steem_posts{
	border-bottom-color: #424242;
}

.steem_posts_meta {
	color: #f3f1ee;
}

div.steem_posts_meta{
	color: #eee1cf;
}
