/*
offwhite pallete:
#beb19f (darkest)
#ded1bf
#eee1cf
#fcf4e9 (lightest)

font pallete:
#332 (darkest)
#443
#554
#665
#998 (lightest)


link pallete:
#874 (darkest)
#982
#a93 (lightest)
*/

body { background-color: #eee1cf;}

h1 {
  color:#332;
  text-shadow: 1px 1px 5px #443,2px 2px 10px #998;
}

h2 {
  color:#332;
	text-shadow: 1px 1px  #443;
}

h3 {
  color:#332;
	text-shadow: 1px 1px  #443;
}

p { color: #665;}

a:link { color:#874;}

a:visited { color:#763;}

a:hover { color:#541;}

a:active, a:focus { color:#430;}

img {
	color: #0f0d0c;
	border-color: #5b5349;
	box-shadow: 3px 3px 27px #332;
}

/*Header styles*/

header {
	background-color: #ded1bf;
	border-color: : #beb19f;
	box-shadow: 1px 1px 6px #443;
}

header.no_bg_img {
  background: linear-gradient(#ded1bf,#beb19f);
}

div#banner-gradient {
	background: linear-gradient(to right, rgba(222,209,191,0.5), rgba( 190,177,159,1));
}

/* Button styles */

button#openNav {
  background: #fcf4e9;
  color: #332;
}

button#openNav:hover {
  background: #ded1bf;
  box-shadow: 1px 1px 5px #fcf4e9;
}

button#closeNav {
  background: #ded1bf;
	color: #998;
  box-shadow: 2px 2px 5px #332;
}

button#closeNav:hover {
	background: #beb19f;
	color: #554;
  box-shadow: #554;
}

/* Menu Styles*/

.menu div { background-color: #fcf4e9;}

.menu span {
  background: #ded1bf;
  color: #5d2534;
}

.menu span a {
  background-color:#fcf4e9;
  box-shadow: 1px 1px 5px #332;
}

.menu span a:hover {
	background-color:#beb19f;
	box-shadow: 1px 1px 5px #332;
}

.menu span a:focus {
	background-color:#beb19f;
	box-shadow: 1px 1px 5px #332;
}

.menu span a:active {
	background-color:#ded1bf;
	box-shadow: 1px 1px 5px #332;
	color:#eee1cf;
}

/*Sidebar styles*/

.sidebar .menu span a {
  background: none;
  box-shadow: none;
}

.sidebar .menu span a:hover { box-shadow: none;}

.sidebar .menu span a:focus { box-shadow: none;}

.sidebar .menu span a:active { box-shadow: none;}

.sidebar { background-color: #beb19f;}

  /* content area styles*/

#contentArea {
	color: #665;
	border-color: #332;
	background-color: #fcf4e9;
	box-shadow: 1px 1px 15px #332;
}

#contentArea h1 { color: #332;}

#contentArea h2 { color:#443;}

#contentArea h3 { color: #554;}

#contentArea p {color: #665;}

#contentArea ul li {
  color: #332; 	/* set color of list item text */
}

#contentArea ul li::before {
  color: #443;   /* color of unicode character */
}

/* Footer Styles*/

#footer-menu li a:link { color:#ec9c36;}

/* Steem Content Modules*/

/* Steem Profile */

#profile-banner {
	background-color: #665;
	color: #beb19f;
	box-shadow: 3px 3px 27px #332;
}

#profile-banner h1 { color: #eee1cf;}

#profile-about { color: #332;}

#profile-info { color: #332;}

#profile-info a { color: #874;}

#profile-info a:visited { color:#874;}

#profile-info a:hover {
 color: #a93;
 text-shadow: 1px 1px 10px #998;
}

#profile-info a:active {
 color:  #a93;
 text-shadow: 1px 1px 10px #998;
}

#profile-banner #profile-about {color: #eee1cf;}

#profile-banner #profile-info {color: #eee1cf;}

#profile-banner #profile-info a {color: #eee1cf;}

#profile-banner #profile-info a:visited {color:#eee1cf;}

#profile-banner #profile-info a:hover {
	color:#f0be7e;
  text-shadow: none;
}

#profile-banner #profile-info a:active {
	color:#f0be7e;
  text-shadow: none;
}

/*Steem Post*/

/* Steem Posts */

.steem_posts {border-bottom-color: #332;}

.steem_posts_meta {color: #998;}

div.steem_posts_meta {color: #998;}


/*Social Menu*/

div.icon span a:link { color:#332;}

div.icon span a:visited { color:#332;}

div.icon span a:hover {
 color:#beb19f;
 box-shadow: 1px 1px 10px #332;
}

div.icon span a:focus { color:#beb19f;}

div.icon span a:active { color:#332;}

div.icon span a img{
  box-shadow: none;
}

/* Responsive Design */
